body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #f5f5f5;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #2b2b2b;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #3e3e3e;
  }
  
  button {
    background-color: #4e4e4e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #6e6e6e;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    width: 80%;
    max-width: 400px;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .icon-button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.2s ease;
  }
  
  .icon-button:hover {
    transform: scale(1.2);
  }
  
  h2, p {
    margin: 0 0 15px;
    text-align: center;
  }
  
  .action-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4e4e4e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .action-button:hover {
    background-color: #6e6e6e;
  }
  
  .close-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4e4e4e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: #6e6e6e;
  }
  